# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

dbt_stocks/profiles.yml
dbt_stocks/target/
dbt_stocks/.user.yml
dbt_stocks/logs/
# Logs
*.log